/Ex5/build/
/Ex6/nbproject/private/
/Ex6/build/
/Ex7/nbproject/private/
/Ex8/nbproject/private/
/Ex8/build/
/Ex7/build/
/Ex9/nbproject/private/
/Ex9/build/
/Ex11/nbproject/private/
/Ex11/build/
/Ex10/nbproject/private/
/Ex12/nbproject/private/
/Ex12/build/
/Ex13/nbproject/private/
/Ex13/build/
/Ex14/nbproject/private/
/Ex14/build/